<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{${title}}">Katalog</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{${title}}">Katalog</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>

    <div class="ui link cards" th:remove="all-but-first">
        <div class="ui card" th:each="item : ${catalog}">
            <div class="content">
                <a class="header" th:href="@{/disc/{id}(id=${item.id})}" th:text="${item.name}">Last Action Hero</a>
            </div>
            <div class="image" th:if="${item.isDisc()}">
                <a th:href="@{/disc/{id}(id=${item.id})}">
                    <img class="thumbnail" th:src="@{/resources/img/cover/{image}.jpg(image=${item.image})}"
                         src="../static/resources/img/cover/lac.jpg"/>
                </a>
            </div>
            <div class="content">
                <div class="description" th:text="${{item.price}}">9.99 €</div>
            </div>
            <div class="extra content" th:text="${item.genre}" th:if="${item.isDisc()}"> Action</div>
            <div class="content" th:unless="${item.isDisc()}">
                <form class="ui form" method="post" th:action="@{/cart}">
                    <input type="hidden" name="pid" value="0" th:value="${item.id}"/>
                    <div class="field">
                        <label for="number">Anzahl</label>
                        <input id="number" type="number" name="number" min="1" max="5" step="1" value="1"/><br/>
                    </div>
                    <button type="submit" class="ui labeled icon button">
                        <i class="add to cart icon"></i><span th:text="#{detail.addToBasket}"> Hinzufügen</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>